body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
}
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
    cursor: default;
    /*stroke-dasharray: 0,4 1;*/
}
circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}
text {
    font: 10px sans-serif;
}
form {
    position: absolute;
    right: 10px;
    top: 10px;
}